@charset "UTF-8";
:root {
  --font-ral: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-title {
  font-family: var(--font-ral);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-subtitle {
  color: #2196f3;
}

.navigation {
  margin-left: 93px;
  margin-right: auto;
}

.header-nav {
  display: flex;
  gap: 50px;
  position: relative;
}

a.curent {
  color: #2196f3;
}

a.curent-portfolio {
  color: #2196f3;
}

.header-nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
}
.header-nav-link:hover, .header-nav-link:focus {
  color: #2196f3;
}
.header-nav-link:hover::after {
  opacity: 1;
}

.header-nav-link.curent::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: scaleX(1.1);
}

.header-nav-link.curent-portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: scaleX(1.1);
}

.header-icons-position {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-contact {
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover, .header-contact:focus {
  color: #2196f3;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-icon:focus, .header-icon:hover {
  color: #2196f3;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms ease;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: space-between;
}

.whatwedo {
  padding-bottom: 94px;
}

.whatwedo-title {
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whatwedo-top-text {
  position: relative;
  background-color: #188ce8;
}

.whatwedo-uptitle {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: calc(100% - 90px)/4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: white;
}

.team-uptitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-subtitle {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.advantages-container {
  max-width: 1600px;
}

.advantages-title {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  gap: 30px;
}

.advantages-link {
  display: block;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: border 250ms linear;
}

.advantages-icon {
  fill: currentColor;
  transition: color 250ms linear;
}
.advantages-icon:hover, .advantages-icon:focus {
  border: 1px solid #2196f3;
}
.advantages-icon:hover, .advantages-icon:focus {
  color: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-address {
  margin-right: 70px;
}

.footer-title {
  font-family: var(--font-ral);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: block;
  margin-bottom: 20px;
}

.footer-subtitle {
  color: #ffffff;
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms linear;
}
.footer-link:hover, .footer-link:focus {
  color: #2196f3;
}

.footer-contacts {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
}
.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.footer-social {
  width: 200px;
  height: 80px;
  margin-right: 93px;
}

.footer-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 0;
}

.footer-soc-icon {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover {
  background: #2196f3;
}

.footer-form label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  margin-right: 12px;
  outline: none;
  color: #ffffff;
}
.footer-input:focus {
  border: 1px #188ce8 solid;
}
.footer-input::-moz-placeholder {
  color: #ffffff;
}
.footer-input:-ms-input-placeholder {
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-telegram-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-telegram-btn p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-telegram-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* !======================= PORTFOLIO ==========================================  */
.portfolio {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navportfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: #f5f4fa;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover, .main-btn:focus {
  background: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ?======================= PORTFOLIO =========================  */
.portfolio-first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.portfolio-second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.portfolio-thrid-row {
  display: flex;
  justify-content: space-between;
}

.portfolio-sublist {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item {
  background: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-top-text {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 18, 30, 0.394);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  height: 650px;
  width: 528px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  /* Центрування обєкта */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1, 1666;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.input-wrapper:last-child {
  margin-bottom: 20px;
}

.modal-input {
  width: 448px;
  height: 48px;
  top: 93px;
  outline: transparent;
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196f3;
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  border: 1px solid #2196f3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-label-privacy {
  font-size: 14px;
  line-height: 1.7142;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label-privacy span {
  color: #2196f3;
  margin-left: 7px;
  text-decoration: underline;
}

/* .input-label-privacy::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-checkbox:checked + .input-label-privacy::before {
  background-color: #2196F3;
  background-image: url(../images/svg-icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */
.check-icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .input-label-privacy .check-icon {
  background-color: #2196f3;
  border: 1px #188ce8 solid;
  fill: #ffffff;
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  border-color: transparent;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */