.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-icon {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.benefits-title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: space-between;
}