.whatwedo {
    padding-bottom: 94px;
}

.whatwedo-title {
    margin-bottom: 50px;
}

.whatwedo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.whatwedo-top-text {
    position: relative;
    background-color: #188ce8;
}

.whatwedo-uptitle {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
